.sellerprofile{
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sellerbanner{
    width: 100%;
    background: url('../../../../assets/banner.png') no-repeat center;
    background-position: center;
    background-size: cover;
    height: 350px;
}
.sellerdp{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    /* background: url(http://localhost:3000/static/media/dp.a698b62….png) no-repeat; */
    background-position: center;
    background-size: contain;
    box-shadow: 0px -2px 20px rgb(0 0 0 / 15%);
    /* position: relative;
    top: -60px; */
    position: absolute;
    top: 286px;
    background: white;
    margin: auto;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.sellerdp img{
    width: 100%;
}

.sellerprofile h1 {
    margin-top: 90px;
    margin-bottom: -5px;
}
.sellerprofile p{
    font-size: 16px;
    font-weight: 500;
    color: #959595;
    margin-bottom: 0;
}
.sellerprofile .seller-num-mail{
    display: flex;
    align-items: center;
    margin-top: 14px;
}
.sellerprofile .seller-num-mail .sellerne{
    margin-left:20px ;
    font-weight: 500;
    font-size: 14px;
    color: #959595;

}