.nav-list {
  font-size: 15px;
  transition: 0.2s ease;
  padding: 10px 10px !important;
  text-decoration: none;
  display: block;
  color: rgba(0, 0, 0, 0.87) !important;
  border-radius: 6px;
}
#basic-button{
  position: relative;
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper , 
.css-177ic5c{
  /* top: 76px; */
  /* left: 1212px !important; */
  /* transform-origin: 30.9844px 0px !important; */
  width: 135px !important;
  padding: 0 10px !important;
  top: 82px !important;
}
.nav-list:hover {
  color: white !important;
  background-color: #006FF2 !important;
}

.dashboard-nav {
  padding: 15px 20px;
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 4px 7px rgb(0 0 0 / 12%);
  /* position: relative; */
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
/* .dashboard-nav .nav-brand {
  font-size: 34px;
  font-weight: 700;
  text-decoration: none;
  color: #006FF2;
} */

.dashboard-nav .nav-brand {
  font-size: 27px;
  font-weight: 700;
  text-decoration: none;
  color: #006FF2;
  display: flex;
  align-items: center;
}
img.rklogo {
  width: 33px;
  margin-right: 4px;
  margin-bottom: 11px;
}

.dashboard-nav .nav-brand span {
  margin-right: 5px;
  color: #101111;
}
.dashboard-nav .nav-searchbox {
  display: flex;
  position: relative;
}
.dashboard-nav .nav-searchbox input {
  /* width: 450px; */
  width: 667px;
  border: none;
  background: #f3f3f3;
  border-radius: 7px;
  outline: none;
  padding-left: 10px;
}
.dashboard-nav .nav-searchbox button {
  border: none;
  border-radius: 6px;
  padding: 5px 11px;
  color: white;
  background: #006FF2;
  position: relative;
  left: -12px;
}
.dashboard-nav .nav-spans span,
.dashboard-nav .nav-spans a {
  font-weight: 500;
  margin: 0 21px;
  font-size: 17px;
  text-decoration: none;
  color: black;
}
/* .dashboard-nav .nav-dropdown {
} */
.dashboard-nav .nav-dropdown button {
  padding: 5px;
  border-radius: 6px;
  border: none;
  position: relative;
}

.vs-img{
  position: absolute;
  width: 13px;
  bottom: 5px;
  left: 19px;
}

.nav-slider-btn {
  display: none;
}

.nav-corner {
  display: flex;
  align-items: center;
}
.nav-corner .nav-slider-btn {
  margin-left: 5px;
}


.nav-sidebar {
  display: none !important;
  position: fixed;
  top: 0;
  left: -308px;
  background: white;
  width: 268px;
  padding: 20px;
  height: 100%;
  box-shadow: 0px 4px 7px rgb(0 0 0 / 12%);
  transition: left 0.3s ease;
}

.nav-sidebar .nav-brand{
  margin-bottom: 30px;
}

.nav-sidebar .nav-searchbox{
  margin-bottom: 30px;
}

.nav-sidebar-spans{
  margin-bottom: 30px !important;
  margin-left: 0 !important;
}
.nav-sidebar-active{
  left: 0;
}
@media screen and (max-width: 1200px) {
  .dashboard-nav .nav-searchbox input {
    width: 350px;
  }
  .nav-slider-btn {
    display: block;
  }
  .nav-sidebar {
    display: flex !important;}
    .nav-sidebar .nav-searchbox,
    .nav-sidebar .nav-spans {
      display: flex !important;
    }
}
@media screen and (max-width: 1000px) {
  .nav-searchbox,
  .nav-spans {
    display: none !important;
  }
}
@media screen and (max-width: 700px) {
}
@media screen and (max-width: 550px) {
}
